html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: rgb(191,189,191);
  background: radial-gradient(circle, rgba(191,189,191,1) 30%, rgba(214,212,214,1) 100%);
  min-height: 100vh;
  font-family: "Rubik Light", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: #d6d4d6;
  width: 10px;
}

body::-webkit-scrollbar-thumb:active {
  background: #b376ab;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(205,103,195);
  background: linear-gradient(240deg, rgba(205,103,195,1) 0%, rgba(186,83,176,1) 70%);
}

